
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#343a40;
    color:black;
    text-align:center;
    font-size:25px;
    left:0;
}
.pp{
    font-weight:bold;
    border-style:solid;
    border-color:black;
    width:100px;
    text-align:center;
    padding:8px;
}
.navbar{
    background-color:darkgrey;
}

.jumbotron {
    background-image: url("bg.jpg");
}
a:hover pic {
    display:block;
}

h1 {
    background-image: url("bg.jpg");
}